.country{
    border: 2px solid skyblue;
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
}
.visited{
    background-color: rgb(249, 174, 241);
    color: black;
}
.non-visited{
    background-color: #f1e1cf;
    color: rgb(250, 5, 5);
}